# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build outputs
*.test
*.out

# Coverage
coverage.out

# Logs
*.log

# Vendor (if using vendoring)
vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
__MACOSX/

# Git
.git/

# Docker
*.pid
*.seed
